.itm-date-range {
  position: relative;
  width: 332px;
  color: #042d41 !important;

  /* Date range header */
  .date-range-header {
    display: flex;

    .date-range-header-item {
      flex: 1;
      border: 1px solid #d9d6d6;
      border-right: 0;
      padding: 8px 16px;
      font-size: 16px;
      color: #a19f9f;
      cursor: pointer;
      text-align: center;

      &:nth-child(1) {
        border-radius: 4px 0 0 0;
      }

      &:nth-last-child(1) {
        border-right: 1px solid #d9d6d6;
        border-radius: 0 4px 0 0;
      }

      &.active {
        background: #108fcf;
        color: white;
        font-weight: 700;
      }
    }
  }

  /* Date range control*/
  .date-range-control {
    position: relative;
    border-radius: 0 0 4px 4px;
    border: 1px solid #d9d6d6;
    border-top: 0;
    padding: 8px 16px;
    cursor: pointer;

    .date-range-control-value {
      font-size: 16px;
      color: #042d41;
    }

    .date-range-control-icon {
      position: absolute;
      top: 8px;
      right: 16px;
      width: 20px;
      height: 20px;
      background: url('../images/calendar.png');
      background-size: contain;
    }
  }

  /* Date range wrapper*/
  .date-range-wrapper {
    position: absolute;
    z-index: 101;
    display: none;
    width: calc(100%);
    border: 1px solid #108fcf;
    border-top: 0;
    border-radius: 0 0 4px 4px;
    background: white;
    padding: 24px;

    .date-range-wrapper-header {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      margin-bottom: 4px;
      font-weight: 600;

      .date-range-wrapper-header-btn {
        width: 20px;
        height: 20px;

        &.btn-pre {
          background: url('../images/btn-pre.png');
          background-size: contain;
          cursor: pointer;
        }

        &.btn-next {
          background: url('../images/btn-next.png');
          background-size: contain;
          cursor: pointer;
        }
      }

      .date-range-wrapper-header-value {
        display: flex;
        gap: 16px;
      }
    }

    /* Date range calendar */
    .date-range-calendar {
      display: flex;
      text-align: center;

      /* Date range calendar weekdays */
      .date-range-calendar-weekdays {
        .date-range-calendar-weekdays-item {
          display: inline-block;
          padding-left: 8px;
          padding-bottom: 8px;

          .date-range-calendar-weekdays-item-value {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            font-size: 13px;
          }

          &:nth-child(1) {
            padding-left: 0;
          }
        }
      }

      /* Date range calendar week */
      .date-range-calendar-weeks {
        display: inline-block;
        margin-top: 40px;
        margin-bottom: 8px;
        border-right: 0.5px solid #a19f9f;

        .date-range-calendar-weeks-item {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 60px;
          height: 32px;
          line-height: 24px;
          margin-bottom: 8px;
          font-size: 13px;
          color: #042d41;
          cursor: pointer;

          &.start-week,
          &.end-week,
          &.limit-week {
            border-radius: 4px;
            background: #108fcf;
            color: white;
            font-weight: 600;
          }

          &.active {
            background: #e2f2f9;
          }

          &:nth-last-child(1) {
            margin-bottom: 0;
          }
        }
      }

      .date-range-calendar-days {
        cursor: pointer;

        .date-range-calendar-day {
          display: inline-block;
          background: white;
          border-bottom: 8px solid white;
          padding-left: 8px;

          .date-range-calendar-day-value {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            line-height: 24px;
            font-size: 13px;
            color: #042d41;

            .date-range-now {
              position: absolute;
              top: 2px;
              left: 14px;
              width: 4px;
              height: 4px;
              border-radius: 100%;
              background: #108fcf;
            }
          }

          &.start-date {
            margin-left: 8px;
            border: 0px solid;
            border-radius: 4px 0 0 4px;
            background: #e2f2f9;
            padding-left: 0;

            .date-range-calendar-day-value {
              border-radius: 4px;
              background: #108fcf;
              color: white;
              font-weight: 700;
              .date-range-now {
                background: white;
              }
            }
          }

          &.limit-date {
            margin-left: 8px;
            border: 0px solid;
            border-radius: 4px 0 0 4px;
            background: #e2f2f9;
            padding-left: 0;

            .date-range-calendar-day-value {
              border-radius: 4px;
              background: #108fcf;
              color: white;
              font-weight: 700;

              .date-range-now {
                background: white;
              }
            }
          }

          &.end-date {
            background: #e2f2f9;
            border-radius: 0 4px 4px 0;
            .date-range-calendar-day-value {
              border-radius: 4px;
              background: #108fcf;
              color: white;
              font-weight: 700;

              .date-range-now {
                background: white;
              }
            }
          }

          &.start-week {
            padding-left: 0;
            margin-left: 0;
            &.limit-date {
              margin-left: 0;
            }
          }

          &.active {
            background: #e2f2f9;
          }

          &.disable {
            opacity: 0.4;
          }
        }
      }

      /* Date range calendar week type */
      &.week {
        display: grid;
        grid-template-columns: 61px 223px;
        .date-range-calendar-days {
          .date-range-calendar-weekdays {
            .date-range-calendar-weekdays-item {
              padding-left: 0;

              &:nth-child(1) {
                .date-range-calendar-weekdays-item-value {
                  width: 31px;
                }
              }
            }
          }

          .date-range-calendar-day {
            padding-left: 0;
            &.start-week {
              width: 31px;
            }
          }
        }
      }
    }

    /* Date range months */
    .date-range-months {
      margin-top: 24px;
      font-size: 13px;

      .date-range-month {
        display: inline-block;
        padding-left: 31px;
        margin-bottom: 8px;
        cursor: pointer;

        .date-range-month-value {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 73px;
          height: 32px;

          .date-range-now {
            position: absolute;
            top: 2px;
            left: calc(50% - 2px);
            width: 4px;
            height: 4px;
            border-radius: 100%;
            background: #108fcf;
          }
        }

        &.active {
          background: #e2f2f9;
        }

        &.start-month {
          margin-left: 31px;
          border-radius: 4px 0 0 4px;
          background: #e2f2f9;
          padding-left: 0;

          .date-range-month-value {
            border-radius: 4px;
            background: #108fcf;
            color: white;
            font-weight: 700;

            .date-range-now {
              background: white;
            }
          }
        }

        &.end-month {
          border-radius: 0 4px 4px 0;
          background: #e2f2f9;

          .date-range-month-value {
            border-radius: 4px;
            background: #108fcf;
            color: white;
            font-weight: 700;

            .date-range-now {
              background: white;
            }
          }
        }

        &.limit-month {
          .date-range-month-value {
            border-radius: 4px;
            background: #108fcf;
            color: white;
            font-weight: 700;

            .date-range-now {
              background: white;
            }
          }
        }

        &:nth-child(1),
        &:nth-child(4),
        &:nth-child(7),
        &:nth-child(10) {
          margin-left: 0;
          padding-left: 0;
        }
      }
    }
  }

  /* Date range show */
  &.show {
    .date-range-header-item {
      z-index: 101;
      border-color: #108fcf;
      &:nth-last-child(1) {
        border-color: #108fcf;
      }
    }
    .date-range-control {
      border-color: #108fcf;
      border-radius: 0;
    }
    .date-range-wrapper {
      display: block;
    }
  }
}
