.candidate-profile::-webkit-scrollbar {
    width: 1px;
}

.candidate-profile::-webkit-scrollbar-track-piece {
    background: #F0F0F0;
}

.candidate-profile::-webkit-scrollbar-thumb:vertical,
.candidate-profile::-webkit-scrollbar-thumb:horizontal {
    background: #E5E5E5;
    border-radius: 20px;
}

.MuiDialog-container {
    & .MuiPaper-root {
        width: 600px;
        height: 882px;
        margin-top: -10px;
        overflow-x: hidden;
    }

    & .MuiButtonBase-root{
        margin-top: -10px;
        margin-right: -10px;
    }

    & .MuiDialogActions-root {
        bottom: 15px;
        background: #E3E2E2;
        width: 600px;
        height: 40px;
        line-height: 20px;
        align-items: stretch;
    }
}

.manage-candidate-popup {
    width: 595px;
}

.candidate-profile {
    width: 595px;
    height: 100vh;
    overflow-x: hidden;

    #information {
        background: #ffffff;
        color: #042d41;
        padding: 0 24px;
        height: 842px;

        #candidate-info {
            padding-bottom: 16px;
            display: flex;
            flex-direction: row;

            #candidate-info-img {
                height: 72px;
            }

            #img-candidate-avatar {
                width: 72px;
            }

            #candidate-title {
                background: #fafafa;
                box-sizing: border-box;
                border: 1px solid #efefef;
                border-radius: 4px;
                width: 100%;
                height: 72px;
                vertical-align: middle;
                margin-left: 8px;

                #candidate-name {
                    font-weight: 700;
                    font-size: 16px;
                    padding: 14px 0 0 16px;
                    margin-bottom: 8px;
                }

                #candidate-position {
                    font-weight: 700;
                    font-size: 11px;
                    padding: 0 0 0 16px;
                    margin: 0;
                }
            }
        }

        #candidate-container{
            padding-bottom: 1px;
        }

        .candidate-cols {
            padding: 0;
        }

        #item-title {
            font-family: "Nunito Sans", sans-serif !important;
            font-weight: 700;
            font-size: 9px;
            margin-bottom: 4px;
            line-height: 140%;
            font-style: normal;
            color: #042d41;
            margin-right: -25px;
        }

        #item-infor {
            font-weight: 400;
            font-size: 11px;
            line-height: 15px;
            margin-bottom: 16px;
            word-break: break-word;
        }

        #content-sub-title {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-bottom: 16px;

            #img-sub-title {
                width: 2px;
                height: 14px;
                background: #108fcf;
                border-radius: 1px;
            }

            #sub-title {
                font-weight: 700;
                font-size: 11px;
                color: #042d41;
                padding-left: 8px;
                margin: 0;
                line-height: 15px;
            }
        }

        .content-sub-title {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-bottom: 8px;

            .img-sub-title {
                width: 2px;
                height: 14px;
                background: #108fcf;
                border-radius: 1px;
            }
            .sub-title {
                font-weight: 700;
                font-size: 11px;
                line-height: 15px;
                color: #042d41;
                padding-left: 8px;
                margin: 0;
            }
        }

        #row-edit {
            display: flex;
            vertical-align: top;
            width: 100%;
            flex-direction: row;
            padding-bottom: 16px;

            #left-timeline {
                width: 171%;
            }

            #timelineBody {
                max-height: 400px;
                overflow-x: hidden;
                overflow-y: auto;

                #timeline {
                    padding: 3rem 0 1.33rem 2rem !important;
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    position: relative;
                    z-index: 2;
                    overflow: hidden;

                    #timelineDot {
                        height: 12px;
                        width: 12px;
                        border-radius: 2rem;
                        margin-right: auto;
                        left: -22px;
                        position: absolute;
                        margin-top: -53px;

                        .timelineDot-img {
                            width: 12px;
                        }
                    }

                    #timelineDate {
                        font-size: 9px;
                        position: absolute;
                        font-family: Nunito Sans;
                        top: -59px;
                        left: -10px;
                        font-weight: 400;
                        color: #042d41;
                        margin: 11px 0 0 4px;
                        line-height: 13px;
                    }

                    #timelineWork {
                        font-family: "Nunito Sans";
                        font-size: 11px;
                        font-weight: 700;
                        line-height: 22.4px;
                        top: -35px;
                        left: -10px;
                        margin: 8px 0 0 4px;
                        position: relative;
                        color: #0c557a;
                        width: 100%;

                        &-schoolName {
                                line-height: 15px;
                                margin-bottom: 8px;
                            }

                        .description-left {
                            line-height: 15px;
                            width: 35%;
                        }



                        .timelineDescription {
                            display: flex;
                            margin-bottom: 8px;

                            .description-left {
                                width: 40%;
                            }

                            .description-right {
                                line-height: 15px;
                                width: 60%;
                            }

                            .timelineWork-description-left {
                                line-height: 15px;
                                width: 20%;
                            }

                            .timelineWork-description-right {
                                line-height: 15px;
                                width: 80%;
                            }
                        }
                    }

                    #timelineWork small {
                        display: block;
                        color: #042d41;
                        font-weight: 400;
                        font-size: 11px;
                        font-style: normal;
                        padding-left: 0px;
                    }
                }

                #timeline:before {
                    content: "";
                    position: absolute;
                    width: 0px;
                    top: 5px;
                    right: auto;
                    left: 15px;
                    height: 100%;
                    z-index: 0;
                    box-shadow: 0 0 8px rgb(0 0 0 / 9%), 0 1px 0 rgb(0 0 0 / 2%);
                    border: 1px dashed #108fcf;
                    transform: rotate(0deg);
                }

                #timeline li {
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    margin-bottom: -3rem;
                    position: relative;
                }
            }
        }
    }

    #datatable {
        background: #ffffff;

        #table-detail {
            color: #042d41;
            font-size: 9px;

            tr:first-child {
                font-size: 9px;
                line-height: 10px;
                font-weight: 700;
                border-bottom: 1px solid #e3e2e2;
            }

            tr:nth-child(even) td {
                background: #fafafa;
            }

            .table-detail-td {
                font-size: 9px;
                padding-top: 8px;
                padding-bottom: 8px;
            }
        }
    }

    #customized-dialog-title {
        margin-top: 8px;
        margin-right: 8px;
    }

}
.save-button-pdf {
    background: #108FCF;
    display: flex;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
    padding: 4px 10px 4px 10px;
    color: white;
    border: transparent;
}
