.form-check {
  display: flex !important;
  align-items: center;
  gap: 8px;

  min-height: unset;
  margin: unset;

  .form-check-input {
    width: 20px;
    height: 20px;
    margin-top: unset;
    box-shadow: unset;

    &:checked {
      background-color: #ffffff;
      border-color: #108fcf;

      &[type='checkbox'] {
        background-image: url('../../public/Assets/images/icon/checkbox-checked.png');
        border-color: #108fcf;
      }
    }
  }
}
