.wrap-management.detail {
	/* Bread crumb */
	.bread-crumb {
		a {
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
			text-decoration: none;
			color: #042d41;
		}
		.first-breadcrumb {
			a {
				color: #108fcf;
				text-decoration: underline;
			}
		}
		.breadcrumb-item + .breadcrumb-item::before {
			content: url('../../public/Assets/images/jobpost/angle-small-right.png');
			position: relative;
			top: 3px;
			color: #108fcf;
		}
	}

	/* Header title*/
	.wrap-management-header {
		.wrap-management-header-buttons {
			.btn {
				min-width: 120px;
				height: 40px;
				line-height: 40px;
				margin-left: 16px;
				padding: 0 35px;
			}
		}
	}

	.wrap-management-body {
		display: flex;
		justify-content: space-between;
		gap: 24px;
		border: 0;
		box-shadow: 0 0 0 0;
		background: none;
		padding: 0;

		/* Information */
		.information {
			width: calc(100% - 587px);
			background: #ffffff;
			box-shadow: 0px 4px 8px rgba(4, 45, 65, 0.1);
			border-radius: 4px;
			padding: 26px 24px;
			color: #042d41;

			.information-header {
				display: flex;
				align-items: center;
				gap: 12px;
				margin-bottom: 24px;

				.information-header-tab {
					width: 4px;
					height: 24px;
					border-radius: 4px;
					background: #108fcf;
				}
				.information-header-title {
					font-weight: 700;
					font-size: 14px;
					line-height: 140%;
					color: #0c557a;
					text-transform: uppercase;
				}
			}

			/* Information items */
			.information-items {
				display: flex;
				flex-wrap: wrap;
				gap: 32px 0;
				border-radius: 4px;
				padding: 16px;
				padding-left: 0;

				/* Information item */
				.information-item {
					width: calc(1 / 6 * 100%);
					padding: 0 16px;

					.item-title {
						font-weight: 700;
						font-size: 13px;
						margin-bottom: 4px;
					}
					.item-infor {
						font-weight: 400;
						font-size: 14px;
						color: #042d41;
						margin-bottom: 0;

						.img-16 {
							width: 16px;
							height: 16px;
							margin-right: 8px;
							cursor: pointer;
						}
						button {
							box-sizing: border-box;
							padding: 4px 8px;
							border-radius: 4px;
							cursor: text;
						}
						.approved {
							color: #27ae60;
							background: #eefff6;
							border: 1px solid #bee7cf;
						}
						.waiting {
							background: #e2f2f9;
							border: 1px solid #9ed6f2;
							color: #108fcf;
						}
						.expired {
							color: #a19f9f;
							background: #f5f5f5;
							border: 1px solid #e3e2e2;
						}
						.deleted,
						.rejected {
							color: #ef3737;
							background: #fde7e7;
							border: 1px solid #fac3c3;
						}
						.drafted {
							color: #ff9900;
							background: #fff7dd;
							border: 1px solid #ff9900;
						}
					}
					.show {
						color: #27ae60;
					}
					.hide {
						color: #a19f9f;
					}
					.hotjob,
					.isExperience {
						width: 20px;
						height: 20px;
					}
					.gray {
						color: #a19f9f;
					}
					.gray::before {
						content: url('../../public/Assets/images/jobpost/inactive-bullet.png');
						margin-right: 8px;
					}
					.green {
						color: #27ae60;
					}
					.green::before {
						content: url('../../public/Assets/images/jobpost/ready-bullet.png');
						margin-right: 8px;
					}
					.accepted {
						color: #108fcf;
					}
					.accepted::before {
						content: url('../../public/Assets/images/jobpost/accepted-bullet.png');
						margin-right: 8px;
					}
					.orange {
						color: #ff9242;
					}
					.orange::before {
						content: url('../../public/Assets/images/jobpost/active-bullet.png');
						margin-right: 8px;
					}
				}

				/* Information items gray background */
				&.bg-gray {
					background: #fafafa;
					border: 1px solid #efefef;

					.information-item {
						border-left: 1px solid #a19f9f;

						&:nth-child(1) {
							border-left: 0;
						}
					}
				}

				&.w-100 {
					width: 100%;
				}
			}

			.descrip {
				text-align: center;
				overflow: hidden;
				position: relative;
				color: #042d41;
				&.hide {
					height: 220px;
				}
				p {
					font-weight: 700;
					font-size: 13px;
					line-height: 18px;
					letter-spacing: 0.02em;
					text-align: left;
				}
				.desc-detail {
					padding-bottom: 56px;
					p {
						font-size: 14px;
						font-weight: 400;
					}
				}
				.desc-button {
					width: 100%;
					height: 143px;
					position: absolute;
					display: flex;
					align-items: flex-end;
					bottom: 0;
					&.hide {
						background: linear-gradient(
							180deg,
							rgba(255, 255, 255, 0.32) 0%,
							#ffffff 90.4%
						);
					}
					button {
						background: #ffffff;
						border: 1px solid #108fcf;
						box-sizing: border-box;
						border-radius: 4px;
						padding: 3px 8px;
						color: #108fcf;
						font-weight: 700;
						font-size: 14px;
						margin: 0 auto;
						span {
							margin-right: 5px;
						}
					}
				}
			}
		}

		/* Interview */
		.interview {
			background: #ffffff;
			box-shadow: 0px 4px 8px rgba(4, 45, 65, 0.1);
			border-radius: 4px;
			flex: 0%;
			padding: 26px 24px;

			/* */
			.head-interview {
				display: flex;
				justify-content: space-between;
				align-items: baseline;
				.switch-interviewNow {
					.MuiSwitch-switchBase.MuiSwitch-colorPrimary {
						top: 3px !important;
						.MuiSwitch-thumb {
							background: white;
						}
						&.Mui-checked + .MuiSwitch-track {
							background: #27ae60 !important;
							box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1) !important;
							opacity: 1;
						}
					}
					.MuiSwitch-track {
						border-radius: 20px !important;
						height: 20px;
						width: 40px;
						background: #a19f9f;
					}
				}
			}
			.interview-infor {
				margin-top: 32px;
				font-size: 14px;
				font-weight: 400;
				&:first-child {
					margin-top: 34px;
				}
				.morning-time-range,
				.afternoon-time-range {
					display: grid;
					grid-template-columns: 8% 14% 25% 5% 25%;
					align-items: center;
					margin-bottom: 12px;
					margin-top: 16px;
					font-weight: 400;
					font-size: 14px;
					.form-group {
						margin-bottom: 0;
					}
					.time-to {
						text-align: center;
					}
				}
				.text-gray {
					color: #c9c9c9;
				}
				.form-check {
					display: flex;
					align-items: center;
					.form-check-input {
						margin-right: 8px;
						&:disabled {
							opacity: 1 !important;
							& ~ .form-check-label {
								opacity: 1 !important;
							}
						}
					}
				}
				.form-check-input {
					width: 20px;
					height: 20px;
					box-shadow: none;
					margin-bottom: 4px;
					&:checked {
						background-color: #ffffff;
						border-color: #108fcf;
						&[type='checkbox'] {
							background-image: url('../../public/Assets/images/jobpost/checked.png');
						}
					}
				}
				.sub-title {
					padding-left: 12px !important;
				}
				.green {
					color: #27ae60;
				}
				.green::before {
					content: url('../../public/Assets/images/jobpost/ready-bullet.png');
					margin-right: 8px;
				}
				.gray {
					color: #a19f9f;
				}
				.gray::before {
					content: url('../../public/Assets/images/jobpost/inactive-bullet.png');
					margin-right: 8px;
				}
				.radio-check {
					display: grid !important;
					grid-template-columns: auto auto auto auto;
					.form-check-input:checked {
						border-color: #108fcf;
					}
					.form-check-input:checked[type='radio'] {
						background-image: url('../../public/Assets/images/jobpost/radio-check.png') !important;
						background-size: auto;
						background-repeat: no-repeat;
					}
				}
				.morning {
					input {
						width: 40%;
					}
				}
				.block {
					display: block;
				}
				.none {
					display: none !important;
				}
			}
		}

		/* Note */
		.note {
			font-style: italic;
			font-weight: 400;
			font-size: 16px;
			line-height: 22px;
			color: #042d41;
			margin-top: 8px;
		}

		/* Chart */
		.chart {
			padding: 16px;

			.chart-header {
				padding: 8px;
				margin-bottom: 2px;

				.chart-header-title {
					font-weight: 700;
					font-size: 14px;
					color: #042d41;
				}
			}
		}
	}
}
