.wrap-jobPost-CreateNew {
	padding: 16px 24px 24px 24px;
	.header-create-new {
		.bread-crumb {
			a,
			.second-breadcrumb {
				font-weight: 400;
				font-size: 14px;
				line-height: 20px;
				text-decoration: none;
				color: #042d41;
				color: #108fcf;
				text-decoration: underline;
				cursor: pointer;
			}
			.third-breadcrumb {
				font-weight: 400;
				font-size: 14px;
				color: #042d41;
			}
			.breadcrumb-item + .breadcrumb-item::before {
				content: url('../../public/Assets/images/jobpost/angle-small-right.png');
				position: relative;
				top: 3px;
				color: #108fcf;
			}
			.breadcrumb {
				align-items: baseline !important;
			}
		}
		.title {
			display: flex;
			justify-content: space-between;
			margin-bottom: 32px;
			.title-page {
				font-weight: 700;
				font-size: 24px;
				line-height: 34px;
				color: #042d41;
			}
			.title-action {
				display: grid;
				grid-template-columns: auto auto auto;
				button {
					box-sizing: border-box;
					border-radius: 4px;
					border: none;
					font-weight: 600;
					font-size: 15px;
					line-height: 20px;
					padding: 10px 45px;
					margin-right: 16px;
					background: #ffffff;
					color: #108fcf;
					border: 1px solid #108fcf;
				}
				button:last-child {
					margin-right: 0;
				}
				.save {
					background: #108fcf;
					color: #ffffff;
				}
                .send {
                    background: #108fcf;
					color: #ffffff;
                }
				.send-action {
					background-color: #108fcf;
					color: white;
				}
			}
		}
	}
	
	.body-CreateNew {
		> div {
			background: #ffffff;
			box-shadow: 0px 4px 8px rgba(4, 45, 65, 0.1);
			border-radius: 4px;
			padding: 24px;
			padding-bottom: 32px;
			&:last-child {
				height: max-content;
			}
			.row {
				justify-content: space-between;
				margin: 0;
				> div {
					padding: 0;
					.form-check-input {
						width: 20px;
						height: 20px !important;
						box-shadow: none;
						margin-top: 0;
					}
					.form-check-input:checked {
						background-color: #108fcf;
						border-color: #108fcf;
					}
					.form-check-input:checked[type='checkbox'] {
						background-image: url('../../public/Assets/images/jobpost/checked.png');
					}
				}
			}
			.jodit-workplace {
				height: 740px !important;
				.jodit-wysiwyg {
					&::-webkit-scrollbar {
						width: 8px;
						background-color: #f5f5f5;
					}

					&::-webkit-scrollbar-thumb {
						background-color: #dddddd;
					}
				}
			}
		}
		.information {
			> div:nth-child(5) {
				> .row {
					justify-content: start;
					> div:first-child {
						margin-right: 40px;
					}
				}
			}
		}
		.sub-title {
			font-weight: 700;
			font-size: 14px;
			line-height: 20px;
			color: #042d41;
			border-left: 4px solid #108fcf;
			border-radius: 1px;
			padding-left: 20px;
		}
		.item-title {
			font-weight: 700;
			font-size: 13px;
			margin-bottom: 4px;
		}
		.item-infor {
			font-weight: 400;
			font-size: 14px;
			margin-bottom: 0;
		}
		.information {
			color: #042d41;
			> div {
				margin-bottom: 32px;
			}
			> div:last-child {
				margin-bottom: 0;
			}
			> div {
				margin-top: 32px;
				padding: 0 16px;
			}
			.gray-bg {
				background: #fafafa;
				border: 1px solid #efefef;
				box-sizing: border-box;
				border-radius: 4px;
				padding: 16px 24px;
				margin-bottom: 32px;
				.row {
					margin: 0;
					.col {
						border-left: 1px solid #a19f9f;
						padding: 0 24px;
						&:first-child {
							border: 0;
							padding-left: 0;
						}
						.item-title {
							margin-bottom: 12px;
						}
					}
				}
				.react-datepicker-wrapper {
					width: 148px;
					position: relative;
					.react-datepicker__input-container {
						&:after {
							content: url('../../public/Assets/images/jobpost/calendar-icon.png');
							position: absolute;
							top: 12px;
							right: 12px;
							cursor: pointer;
						}
						.datepicker {
							width: 100%;
						}
						.react-datepicker__close-icon {
							display: none;
						}
					}
				}
			}
			.item-infor {
				.img-16 {
					width: 16px;
					height: 16px;
					margin-right: 8px;
					cursor: pointer;
				}
				button {
					box-sizing: border-box;
					padding: 4px 8px;
					border-radius: 4px;
					cursor: text;
				}
				.approved {
					color: #27ae60;
					background: #eefff6;
					border: 1px solid #bee7cf;
				}
				.waiting {
					background: #e2f2f9;
					border: 1px solid #9ed6f2;
					color: #108fcf;
				}
				.expired {
					color: #a19f9f;
					background: #f5f5f5;
					border: 1px solid #e3e2e2;
				}
				.deleted {
					color: #ef3737;
					background: #fde7e7;
					border: 1px solid #fac3c3;
				}
			}
			.show {
				color: #27ae60;
			}
			.hide {
				color: #a19f9f;
			}
			.summerNote {
                .description-note {
                    display: grid;
                    grid-template-columns: 70% 30%;
                }
				padding: 0 !important;
				.title {
					font-weight: 700;
					font-size: 13px;
					line-height: 18px;
					letter-spacing: 0.02em;
					color: #042d41;
					padding: 0 16px;
				}
				.jodit-status-bar {
					display: none;
				}
				.jodit-ui-group_separated_true:not(:last-child):not(.jodit-ui-group_before-spacer_true):after {
					border-right: none;
					margin: 0;
				}
				.jodit-icon {
					color: #042d41;
				}
				.jodit-toolbar-editor-collection {
					.jodit-ui-group_group_media,
					.jodit-ui-group_group_other,
					.jodit-ui-group_group_info,
					.jodit-ui-group_group_clipboard,
					.jodit-ui-group__eraser,
					.jodit-ui-group__paragraph,
					.jodit-ui-group__classSpan,
					.jodit-ui-group__lineHeight,
					.jodit-ui-group__spellcheck,
					.jodit-ui-group__hr,
					.jodit-ui-group__table,
					.jodit-ui-group__symbol,
					.jodit-ui-group_group_color,
					.jodit-ui-group_group_font,
					.jodit-ui-group_group_history,
					.jodit-ui-group_group_search,
					.jodit-ui-group_group_source {
						display: none;
					}
					.jodit-ui-spacer {
						display: none;
					}
				}
			}
		}
		.interview {
			.head-interview {
				display: flex;
				justify-content: space-between;
				align-items: baseline;
				.switch-interviewNow {
					.MuiSwitch-switchBase.MuiSwitch-colorPrimary {
						top: 3px !important;
						.MuiSwitch-thumb {
							background: white;
						}
						&.Mui-checked + .MuiSwitch-track {
							background: #27ae60 !important;
							box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1) !important;
							opacity: 1;
						}
					}
					.MuiSwitch-track {
						border-radius: 20px !important;
						height: 20px;
						width: 40px;
						background: #a19f9f;
					}
				}
			}
			.interview-infor {
				margin-top: 32px;
				font-size: 14px;
				font-weight: 400;
				&:first-child {
					margin-top: 34px;
				}
				.morning-time-range,
				.afternoon-time-range {
					display: grid;
					grid-template-columns: 8% 14% 25% 5% 25%;
					align-items: center;
					margin-bottom: 12px;
					margin-top: 16px;
					font-weight: 400;
					font-size: 14px;
					.form-group {
						margin-bottom: 0;
					}
					.time-to {
						text-align: center;
					}
				}
				.text-gray {
					color: #c9c9c9;
				}
				.form-check {
					display: flex;
					align-items: center;
					.form-check-input {
						margin-right: 8px;
						&:disabled {
							opacity: 1 !important;
							& ~ .form-check-label {
								opacity: 1 !important;
							}
						}
					}
				}
				.form-check-input {
					width: 20px;
					height: 20px;
					box-shadow: none;
					margin-bottom: 4px;
					&:checked {
						background-color: #ffffff;
						border-color: #108fcf;
						&[type='checkbox'] {
							background-image: url('../../public/Assets/images/jobpost/checked.png');
						}
					}
				}
				.sub-title {
					padding-left: 12px !important;
				}
				.green {
					color: #27ae60;
				}
				.green::before {
					content: url('../../public/Assets/images/jobpost/ready-bullet.png');
					margin-right: 8px;
				}
				.gray {
					color: #a19f9f;
				}
				.gray::before {
					content: url('../../public/Assets/images/jobpost/inactive-bullet.png');
					margin-right: 8px;
				}
				.radio-check {
					display: grid !important;
					grid-template-columns: auto auto auto auto;
					.form-check-input:checked {
						border-color: #108fcf;
					}
					.form-check-input:checked[type='radio'] {
						background-image: url('../../public/Assets/images/jobpost/radio-check.png') !important;
						background-size: auto;
						background-repeat: no-repeat;
					}
				}
				.morning {
					input {
						width: 40%;
					}
				}
				.block {
					display: block;
				}
				.none {
					display: none !important;
				}
			}
		}
	}
}

.modal-cancel {
	.modal-content {
		width: 400px;
		height: 365px;
	}	
}
.modal-send {
	.modal-content {
		width: 400px;
		height: 412px;
	}		
}