.admin {
  display: flex;
  width: 100%;

  .admin-content-container {
    padding-left: 64px;
    width: 100%;
    transition: padding-left calc(0.2s) ease;

    .admin-content {
      background: #fafafa;
      padding-top: 80px;
      min-height: 100vh;
    }
  }
}
