.wrap-recruiter-detail {
  padding: 16px 24px 24px 24px;
  .header-detail {
    .bread-crumb {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      .first-breadcrumb {
        a {
          color: #108fcf;
        }
      }
      .second-breadcrumb {
        color: #042d41;
      }
      .breadcrumb-item + .breadcrumb-item::before {
        content: url("../../public/Assets/images/jobpost/angle-small-right.png");
        position: relative;
        top: 3px;
        color: #108fcf;
      }
    }
    .title {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: space-between;

      .title-page {
        font-weight: 700;
        font-size: 24px;
        line-height: 34px;
        color: #042d41;
        margin-bottom: 24px;
      }
      .title-action {
        display: grid;
        grid-template-columns: auto auto auto;
        button {
          box-sizing: border-box;
          border-radius: 4px;
          border: none;
          font-weight: 600;
          font-size: 15px;
          line-height: 21px;
          padding: 10px 15px;
          margin-right: 16px;
          height: 40px;
          width: 120px;
        }
        button:last-child {
          margin-right: 0;
        }
        .reject-btn {
          background: #ffffff;
          border: 1px solid #ef3737;
          color: #ef3737;
        }
        .approve-btn,
        .extend-btn {
          background: #108fcf;
          border: 1px solid #108fcf;
          color: #ffffff;
        }
      }
    }
  }
  .body-detail {
    .item-infor {
      font-weight: 400;
      font-size: 14px;
      color: #042d41;
      margin-bottom: 0;

      button {
        box-sizing: border-box;
        padding: 4px 8px;
        border-radius: 4px;
        cursor: text;
      }
      .approved {
        color: #27ae60;
        background: #eefff6;
        border: 1px solid #bee7cf;
      }
      .waiting {
        background: #e2f2f9;
        border: 1px solid #9ed6f2;
        color: #108fcf;
      }
      .expired {
        color: #a19f9f;
        background: #f5f5f5;
        border: 1px solid #e3e2e2;
      }
      .blocked {
        color: #ef3737;
        background: #fde7e7;
        border: 1px solid #fac3c3;
      }
    }
    .information {
      background: #ffffff;
      box-shadow: 0px 4px 8px rgba(4, 45, 65, 0.1);
      border-radius: 4px;
      padding: 40px 24px;

      > div:nth-child(2) {
        margin-bottom: 40px;

        .row {
          display: grid;
          grid-template-columns: 20% 20% 20% 20% 20%;
          margin: 0;

          .col {
            padding: 0 24px;

            &:first-child {
              padding-left: 0;
            }
          }
        }
      }

      > div:nth-child(3) {
        .row {
          display: grid;
          grid-template-columns: 20% 20% 20% 20% 20%;
          margin: 0;

          .col {
            padding: 0 24px;

            &:first-child {
              padding-left: 0;
            }
          }
        }
      }

      .item-title {
        font-weight: 700;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 0.02em;
        color: #042d41;
        margin-bottom: 4px;
      }
      .item-infor {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.02em;
        color: #042d41;
        margin-bottom: 0;
        word-break: break-word;
      }
      .gray-bg {
        background: #fafafa;
        border: 1px solid #d9d6d6;
        border-radius: 4px;
        padding: 16px 24px;
        margin-bottom: 40px;

        .row {
          display: grid;
          grid-template-columns: 20% 20% 20% 20% 20%;
          margin: 0;

          .col {
            padding: 0 24px;

            &:first-child {
              padding-left: 0;
            }
            .content-information-item {
              display: flex;
              flex-direction: row;
              align-items: center;
              .img-sub-title {
                width: 1px;
                height: 40px;
                background: #a19f9f;
                margin-right: 24px;
              }
              .information-item-header {
                display: flex;
                flex-direction: column;
                .item-title {
                  margin-bottom: 8px;
                }
              }
            }
          }
        }
      }
      button {
        box-sizing: border-box;
        border-radius: 4px;
        padding: 4px 8px;
      }
    }
  }
}
