.wrap-candidate {
  padding: 32px 24px;
  .react-tabs__tab:focus:after {
    content: none;
  }
  .tab-content {
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(4, 45, 65, 0.1);
    border-radius: 0px 4px 4px 4px;
    position: relative;

    .feature {
      padding: 14px 0 16px 0;
      display: flex;
      justify-content: space-between;
      Input {
        font-family: "Nunito Sans", "FontAwesome" !important;
        background: #ffffff;
        border: 1px solid #d9d6d6;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 9px;
        height: 40px;
        width: 280px;
      }
      .css-a88p61-MuiInputBase-root-MuiInput-root:before,
      .css-a88p61-MuiInputBase-root-MuiInput-root:after,
      .css-ercmji:before,
      .css-ercmji:after {
        border-bottom: none;
        content: "";
      }
      .grey {
        border-radius: 4px;
        padding: 12px 10px;
        font-size: 14px;
        color: #a19f9f;
        flex-direction: column;
        select,
        .datepicker {
          border: 1px solid #d9d6d6;
          box-sizing: border-box;
          border-radius: 4px;
          width: 200px;
          font-weight: 400;
          font-size: 14px;
          color: #a19f9f;
          height: 40px;
          margin-right: 12px;
        }
        select:focus {
          box-shadow: none;
        }
        button:focus {
          box-shadow: none;
        }
        .collapse {
          margin-top: 16px;
        }
        .expand-btn {
          cursor: pointer;
          width: 20px;
          height: 20px;
          margin-left: 10px;
          margin-top: 12px;
        }
        .filter-btn {
          background: #108fcf;
          border-radius: 4px;
          font-weight: 600;
          border: 1px solid #108fcf;
          font-size: 15px;
          color: #ffffff;
          height: 40px;
          padding: 5px 25px;
        }
        .react-datepicker-wrapper {
          width: 200px;
          input:focus {
            box-shadow: none;
          }
        }
      }
    }
    .datatable {
      background: #ffffff;
      //box-shadow: 0px 4px 8px rgba(4, 45, 65, 0.1);
      border-radius: 4px 4px 4px 4px;
      overflow-x: auto;
      &.scroll {
        overflow-x: auto;
      }
      &::-webkit-scrollbar {
        height: 8px;
        background-color: #f5f5f5;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #dddddd;
      }
      .block {
        display: block;
      }
      .none {
        display: none;
      }
      table {
        width: 2000px;
      }
      thead {
        background: #e2f2f9;
        th {
          border-bottom: none;
          font-weight: 700;
          font-size: 14px;
          line-height: 140%;
          color: #042d41;
          padding: 18px 16px;
          cursor: pointer;
        }
        th:nth-child(2) {
          padding-left: 20px;
        }
        th:nth-child(3) {
          width: 280px !important;
        }
        th:nth-child(4) {
          width: 200px !important;
        }
        th:nth-child(5) {
          width: 300px !important;
        }
        th:nth-child(7) {
          width: 270px !important;
        }
        th:nth-child(8) {
          width: 270px !important;
        }
        th:last-child {
          width: 400px;
          position: sticky;
          right: -200px;
          z-index: 1;
          background: #e2f2f9;
        }
      }

      tbody {
        th {
          padding-left: 20px;
        }
        tr {
          .width-256 {
            width: 256px;
          }
          .width-320 {
            width: 340px;
          }
          > td {
            padding: 15px 30px 15px 0;
          }
          > td:first-child {
            padding-left: 20px;
            padding-top: 20px;
          }
          > td:last-child {
            position: sticky;
            right: -200px;
            z-index: 1;
            box-shadow: -8px 0px 8px -4px rgb(52, 162, 199) !important;
            background: #ffffff;
          }
          .right {
            right: -45px !important;
          }
        }
        tr:last-child {
          padding-bottom: 20px;
        }
        tr:nth-child(even) td,
        tr:nth-child(even) th {
          background: #fafafa;
        }

        th,
        td {
          border-bottom: none;
          font-weight: 400;
          font-size: 14px;
          line-height: 140%;
          color: #042d41;
        }
        .pl-16 {
          padding-left: 16px;
        }
        div {
          margin-top: 0 !important;
        }
        a {
          margin-right: 10px;
        }
        .checkBox {
          background: #ffffff;
          box-shadow: 2px 2px 4px rgb(4 45 65 / 10%);
          padding: 0 18px;
          input {
            border: 1px solid #108fcf;
            border-radius: 2px;
            width: 20px;
            height: 20px;
            box-shadow: none;
          }
          .form-check-input:checked[type="checkbox"] {
            border-radius: 3px;
            background-image: url("../../public/Assets/images/jobpost/checked.png");
          }
        }
        .action {
          height: 24px;
          width: 24px;
          margin-right: 10px;
          cursor: pointer;
        }

        .action:last-child {
          margin-right: -4px;
        }
        .hotjob,
        .isExperience {
          width: 20px;
          height: 20px;
        }
        .hide {
          font-size: 14px;
          line-height: 140%;
          color: #a19f9f;
        }
        .show {
          font-size: 14px;
          line-height: 140%;
          color: #27ae60;
        }
        .bullet {
          display: none;
        }
        .gray {
          color: #c9c9c9;
        }
        .gray::before {
          content: url("../../public/Assets/images/jobpost/inactive-bullet.png");
          margin-right: 8px;
        }
        .orange {
          color: #ff9242;
        }
        .orange::before {
          content: url("../../public/Assets/images/jobpost/active-bullet.png");
          margin-right: 8px;
        }
        .green {
          color: #27ae60;
        }
        .green::before {
          content: url("../../public/Assets/images/jobpost/ready-bullet.png");
          margin-right: 8px;
        }
        .blue {
          color: #108fcf;
        }
        .blue::before {
          content: url("../../public/Assets/images/jobpost/accepted-bullet.png");
          margin-right: 8px;
        }
        .block {
          display: block;
        }
        .none {
          display: none;
        }
      }
    }
    .wrap-pagination {
      font-family: "Nunito Sans";
      font-weight: 400;
      font-style: normal;
      display: flex;
      color: #042d41 !important;
      justify-content: space-between;
      align-items: baseline;
      padding-top: 16px;
      .block {
        display: block;
      }
      .none {
        display: none;
      }
      .pagination {
        background: #ffffff;
        font-size: 16px;
        color: #108fcf;
        align-items: baseline;
        margin: 0;
      }

      .page-item {
        border: none;
        margin-right: 10px;
      }
      .page-item.disabled .page-link {
        color: #a19f9f !important;
      }
      .page-item.active {
        .page-link {
          background: #ffffff !important;
          border-color: #108fcf !important;
          border: 1px solid;
          color: #108fcf !important;
          padding: 5px 11px;
        }
      }
      .page-link {
        border: none;
        border-radius: 4px 4px 4px 4px;
        font-size: 16px;
        color: #042d41 !important;

        span {
          font-size: 25px;
        }
      }
      .approveButton {
        background: #e2f2f9;
        border-radius: 4px;
        padding: 13px 24px;
        width: max-content;
        span {
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;
          letter-spacing: 0.02em;
          color: #042d41;
          margin-right: 30px;
        }
        button {
          background: #108fcf;
          border-radius: 4px;
          font-weight: 700;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.02em;
          color: #ffffff;
          padding: 5.5px 16.5px;
          border-color: #108fcf;
          box-shadow: none;
        }
      }
      .itemPerPage {
        padding: 5.5px 16px;
        display: flex;
        align-items: center;

        .item {
          font-weight: 400;
          font-size: 14px;
        }
        .totalItem {
          font-weight: 400;
          font-size: 14px;
          color: #a19f9f;
        }
        .react-select-container {
          margin: 0 8px;
          width: 62px;
          height: 30px;
          .react-select__control {
            border-radius: 2px;
            &--is-focused {
              border-radius: 2px 2px 0 0 !important;
            }
            .react-select__value-container {
              .react-select__single-value {
                font-weight: 600;
                font-size: 15px;
                color: #042d41;
              }
            }
          }
        }
      }
      .export-btn {
        border: none;
        font-weight: 600;
        font-size: 15px;
        color: #ffffff;
        padding: 10px 11.5px;
        margin-left: 32px;
        background: #108fcf;
        border-radius: 4px;
        gap: 8px;
        .img-16 {
          width: 16px;
          height: 16px;
          margin-right: 8px;
          margin-top: -5px;
        }
      }
    }
  }
}
