.password-regulation {
  margin: -10px 0 12px 0;
  border: 1px solid #108fcf;
  border-radius: 4px;
  padding: 16px 0;

  .password-regulation-header {
    font-size: 14px;
    padding: 0 12px;
  }

  .password-regulation-body {
    > .password-regulation-items {
      > .password-regulation-item {
        padding: 0 12px;

        > .password-regulation-item-message {
          display: flex;
          align-items: center;
          gap: 4px;
        }

        &.normal {
          padding: 0 18px;

          > .password-regulation-item-message::before {
            content: '';
            width: 5px;
            height: 5px;
            border-radius: 100%;
            background: #042d41;
          }
        }

        &.valid {
          > .password-regulation-item-message {
            color: #27ae60;

            &::before {
              content: '';
              width: 8px;
              height: 8px;
              background: url('../../public/Assets/images/password/check.png');
              background-size: contain;
            }
          }
        }

        &.invalid {
          > .password-regulation-item-message {
            color: #ef3737;

            &::before {
              content: '';
              width: 8px;
              height: 8px;
              background: url('../../public/Assets/images/password/cancel.png');
              background-size: contain;
            }
          }
        }

        > .password-regulation-items {
          > .password-regulation-item {
            > .password-regulation-item-message {
              padding-left: 24px;
            }
            &.valid {
              color: #27ae60;
            }

            &.invalid {
              color: #ef3737;
            }
          }
        }
      }
    }
  }

  .password-regulation-footer {
    padding: 1px 12px 0 12px;

    .password-regulation-footer-note {
      padding: 0 12px;
    }
  }

  &.invalid {
    border-color: #ef3737;
  }
}
