table {
  width: 100%;
  text-align: left;
  border-radius: 4px;

  thead tr {
    th {
      padding: 18px;
      height: 56px;
      font-family: 'Nunito Sans';
      font-style: normal;
      color: #042d41;
      font-weight: 700;
      font-size: 14px;
      background: #e2f2f9;

      &:first-child {
        border-radius: 4px 0 0 4px;
      }

      &:last-child {
        border-radius: 0 4px 4px 0;
      }
    }
  }

  tbody tr {
    &:nth-child(even) {
      background: #fafafa;
    }

    td {
      padding: 18px;
      font-weight: 400;
      font-size: 14px;

      .img-20 {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }

      &:last-child {
        width: 93px;
      }
    }
  }
}
